{
  "BACKEND_V2_GET_URL": "${BACKEND_V2_GET_URL}",
  "BACKEND_V2_POST_URL": "${BACKEND_V2_POST_URL}",
  "LIBRARY_URL": "${LIBRARY_URL}",
  "LIBRARY_BACKEND": "${LIBRARY_BACKEND}",
  "SOCKET_SERVER_URL": "${SOCKET_SERVER_URL}",
  "FIREBASE_CONFIG": "${FIREBASE_CONFIG}",
  "STORAGE_BACKEND": "${STORAGE_BACKEND}",
  "HTTP_STORAGE_BACKEND_URL": "${HTTP_STORAGE_BACKEND_URL}"
}
